html {
    font-size: 62.5%;
}

:root {
    --main-color: lightgrey;
    --text-color: #ffb300;
    --menu-text-color: #b78103;
    --main-size: 1.6rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--menu-text-color);
}

header {
    width: 100%;
    height: 6rem;
    background: var(--main-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    margin-left: 1rem;
}

header > h1 + div + div {
    margin-right: 2rem;
}

header > h1 + div {
    display: none;
}

.fa-linkedin {
    font-size: 3rem;
}

figure {
    text-align: center;
}

#containerFlip {
    position: absolute;
    bottom: -30rem;
    transform: translate(-50%, -50%);
    margin-top: 20rem;
    width: 30rem;
    height: 30rem;
}

#card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

#front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
}

#back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-align: center;
}

.flipCard {
    transform: rotateY(180deg);
}

h1 {
    font-size: 4rem;
    color: var(--text-color);
    font-weight: normal;
}

.side-bar-container {
    width: 20%;
    display: flex;
    flex-flow: row wrap;
}


#navbar {
    width: 100%;
    min-height: 100rem;
    background: var(--main-color);
    font-size: var(--main-size);
    padding: 2rem;
}

#navbar > ul > li {
    color: var(--menu-text-color);
}

ul, li {
    list-style: none;
}

#main-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    min-height: 100rem;
}

main, #form-container {
    margin: 5rem;
    width: 70%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

}

main > section {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: var(--main-color);
    font-size: var(--main-size);
    height: 4rem;
    overflow: hidden;
    margin-top: 4rem;
    justify-content: space-between;
}

section > aside {
    background: var(--menu-text-color);
    width: 25%;
    min-height: 10rem;
    padding: 2rem;
}

section > h2 {
    margin: 1rem 0 0 2rem;
    width: 100%;
}

table, td, th {
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
}

table {
    margin: 1rem;
}

.content {
    margin: 2rem;
}

dl {
    margin: 2rem;
}

#form-container > form {
    background: var(--main-color);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 40rem;
}

fieldset {
    border: none;
}

fieldset > div {
    width: 100%;
}

fieldset > div > label, input, textarea {
    width: 50%;
    margin: 1rem;
}

input {
    padding: 1.2rem;
    width: 30rem
}

label {
    font-size: var(--main-size);
}

button {
    width: 40%;
    background: var(--menu-text-color);
    padding: 1rem;
    border: none;
    margin-left: 1rem;
}

.letters {
    font-style: italic;
}

@media screen and (max-width: 1100px) {
    fieldset label, input, textarea {
        display: block;
    }

    form button {
        display: block;
        width: 70%;
    }
}

@media screen and (max-width: 1005px) {
    .side-bar-container {
        display: none;
    }

    main, #form-container {
        width: 100%;
    }

    section > aside {
        width: auto;
    }

    header > h1 + div {
        display: flex;
        font-size: var(--main-size);
    }

}

@media screen and (max-width: 410px) {
    #form-container {
        margin: 5rem 0 0 0;
    }

    form button {
        display: block;
        width: 90%;
    }
}



